/********* BASE STYLES *************/


body {
  font-family: 'Source Sans Pro', sans-serif;
}

#about, #skills, #contact {
    height: 600px;
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

/******** STYLES FOR HEADER & NAV SECTION ********/

header {
  background-image:url("img/full-background.png");
  height: 800px;
  
}
nav a {
  color: #828282;
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
}

nav a:hover {
  color: fuchsia; 
}

nav ul {
  margin-right: 100px;
}

nav li {
  padding-left: 50px;
}

nav h3 {
  color: #bbc085;
  font-family: "Lora";
  font-size: 30px;
  line-height: 54px;
  
}

header h1 {
  color: #828282;
  font-family: "Lora", serif;
  font-weight: bold;
  line-height: 60px;
  padding: 50px 0;
}

/********* SYLES FOR ABOUT SECTION *********/

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  color: #262a2b;
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 24px;
  
}

#about p {
  color: #7f7f7f;
  font-size: 21px;
  line-height: 40px;
  padding-right: 50px;
}

/********* STYLES FOR SKILLS SECTION *******/

#skills {
  background-color: #f9ceb7;
  text-align: center;

}

#skills .full-width {
  padding: 115px 0;
  
}

#skills img {
  padding-bottom: 30px;
}

/*#skills img[src="img/html-icon.png"] {
  padding-bottom: 20px;
}*/

#skills h3 {
  color: #262a2b;
  font-size: 24px;
  font-weight: bold;
  width: 188px;
  margin: 0 auto;
}

#skills p {
  color: #262a2b;
  font-family: "Lora";
  font-size: 18px;
  line-height: 30px;
  padding: 0 35px;
  
}

/********* STYLES FOR CONTACT SECTION *******/
#contact {
  background-color: #ebebeb;
  
}

#contact .full-width {
  padding: 110px 0;
}

#contact-img{
  border: 12px solid #fff;
}

#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#envelope {
    padding: 0 10px 0 115px;
}


#contact h2 {
  color:262a2b;
  font-family: "Lora", serif;
  font-size: 36px;
  line-height: 10px;
  padding-top: 40px;
  
}

#email-header {
  color: #262a2b;
  font-size: 32px;
  line-height: 10px;
  font-weight: 500;
}

#socialmedia-header {
  color: #262a2b;
  font-size: 29px;
  line-height: 24px;
  font-weight: bold;
  
}

#contact a {
  color: #c49075;
  font-size: 24px;
  font-weight: bold;
}

#contact li {
  padding-right: 55px;
}
