/************** BASE STYLES **************/
@font-face {
  font-family: "WisdomScript";
  src: url('../fonts/WisdomScriptAJ.otf') format('opentype');
}

body {
  font-family:  "Montserrat";
}
/************** BASE STYLES **************/


/************** BASE STYLES **************/


/************** BASE STYLES **************/


/************** FOTTER STYLES **************/
